parameters:
	ignoreErrors:
		-
			message: "#^Parameter \\#2 \\$errors of class Firehed\\\\Input\\\\Exceptions\\\\InputException constructor expects array\\<string\\>, array\\<int\\|string\\> given\\.$#"
			count: 1
			path: src/Containers/ParsedInput.php

		-
			message: "#^Parameter \\#2 \\$errors of class Firehed\\\\Input\\\\Exceptions\\\\InputException constructor expects array\\<string\\>, array\\<string, array\\<int\\|string\\>\\> given\\.$#"
			count: 1
			path: src/Containers/ParsedInput.php

		-
			message: "#^Property Firehed\\\\Input\\\\Exceptions\\\\InputException\\:\\:\\$invalid \\(array\\<string\\>\\) does not accept array\\|string\\.$#"
			count: 1
			path: src/Exceptions/InputException.php

		-
			message: "#^Property Firehed\\\\Input\\\\Exceptions\\\\InputException\\:\\:\\$missing \\(array\\<string\\>\\) does not accept array\\|string\\.$#"
			count: 1
			path: src/Exceptions/InputException.php

		-
			message: "#^Property Firehed\\\\Input\\\\Exceptions\\\\InputException\\:\\:\\$unexpected \\(array\\<string\\>\\) does not accept array\\|string\\.$#"
			count: 1
			path: src/Exceptions/InputException.php

		-
			message: "#^Method Firehed\\\\Input\\\\Containers\\\\ParsedInputTest\\:\\:nestedValidationExceptions\\(\\) has no return typehint specified\\.$#"
			count: 1
			path: tests/Containers/ParsedInputTest.php

		-
			message: "#^Method Firehed\\\\Input\\\\Containers\\\\ParsedInputTest\\:\\:testValidateHandlesInputExceptions\\(\\) has parameter \\$invalid with no value type specified in iterable type array\\.$#"
			count: 1
			path: tests/Containers/ParsedInputTest.php

		-
			message: "#^Method Firehed\\\\Input\\\\Containers\\\\ParsedInputTest\\:\\:testValidateHandlesInputExceptions\\(\\) has parameter \\$missing with no value type specified in iterable type array\\.$#"
			count: 1
			path: tests/Containers/ParsedInputTest.php

		-
			message: "#^Method Firehed\\\\Input\\\\Containers\\\\ParsedInputTest\\:\\:testValidateHandlesInputExceptions\\(\\) has parameter \\$unexpected with no value type specified in iterable type array\\.$#"
			count: 1
			path: tests/Containers/ParsedInputTest.php

		-
			message: "#^Parameter \\#2 \\$errors of class Firehed\\\\Input\\\\Exceptions\\\\InputException constructor expects array\\<string\\>, array\\<string, array\\<int, string\\>\\> given\\.$#"
			count: 2
			path: tests/Containers/ParsedInputTest.php

		-
			message: "#^Parameter \\#2 \\$errors of class Firehed\\\\Input\\\\Exceptions\\\\InputException constructor expects array\\<string\\>, array\\<string, array\\<int, string\\>\\> given\\.$#"
			count: 1
			path: tests/Exceptions/InputExceptionTest.php

