parameters:
	ignoreErrors:
		-
			message: "#^Method Firehed\\\\Input\\\\Exceptions\\\\InputException\\:\\:__construct\\(\\) has parameter \\$errors with no value type specified in iterable type array\\.$#"
			count: 1
			path: src/Exceptions/InputException.php

